{
  "env": {
    "es5": {
      "presets": ["@babel/env", "@babel/react", "@babel/flow"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "esnext": {
      "presets": [["@babel/env", {"modules": false}], "@babel/react", "@babel/flow"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    },
    "test": {
      "presets": ["@babel/env", "@babel/react", "@babel/flow"],
      "plugins": ["@babel/plugin-proposal-class-properties"]
    }
  }
}